@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
}

:root {
  --branco: #fff;
}

section {
  padding: 20px;
}

#header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#header #nav {
  display: flex;
}
#header #nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
#header #nav #logo {
  width: 120px;
  margin-right: 10px;
}

#hero {
  background-image: url(assets/Img/banner_principal_variacao_II.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
}

#hero h1 {
  font-size: 5em;
  color: var(--branco);
  width: 35%;
}


#icons{
    display: flex;
    gap: 15px;
}

/*Media Queries*/
@media (min-width: 1280px) and (max-width: 1440px) {
  #hero h1 {
    width: 45%;
  }
  #hero {
    height: 550px;
  }
}
@media (max-width: 1200px) {
  #hero h1 {
    font-size: 4em;
    width: 70%;
  }
}

@media (max-width: 768px) {
  #header #nav ul {
    display: none;
  }
  #hero {
    height: 100dvh;
  }
  #hero h1 {
    font-size: 3em;
    width: 100%;
  }
}

@media (max-width: 575px) {
}
