@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  --branco: #fff;
  --branco-escuro: #f8f8f8;
  --lilas: #bd79ea;
  --preto: #000;
  --amarelo: #f8cf37;
  --padding: 20px;
  --font-small: 0.7em;
}

section {
  padding: var(--padding);
}

#header {
  padding: var(--padding);
  display: flex;
  justify-content: space-between;
}

#header #nav {
  display: flex;
}

#header #nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}

#header #nav ul li a {
  color: var(--preto);
}

#header #nav #logo {
  width: 120px;
  margin-right: 10px;
}

#hero {
  background: url(assets/Img/banner_principal_variacao_II.jpg) no-repeat
    center/cover;
  height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#hero h1 {
  font-size: 5em;
  color: var(--branco);
  width: 35%;
}

#icons {
  display: flex;
  gap: 15px;
}

.item-list {
  position: relative;
}

.item-list a:hover {
  color: var(--lilas) !important;
}

.item-list::after {
  content: "";
  width: 0;
  height: 2px;
  background-color: var(--lilas);
  position: absolute;
  bottom: -3px;
  transition: width 0.3s ease;
}

.item-list:hover::after {
  width: 30px;
}

.discover_button,
.more_about_button {
  font-size: var(--font-small);
  font-weight: 700;
  padding: 15px;
  transition: 0.5s;
}

.discover_button {
  background-color: var(--branco);
}

.discover_button:hover {
  background-color: var(--lilas);
  color: var(--branco);
}

.more_about_button {
  border: solid 1px var(--branco);
  color: var(--branco);
}

.more_about_button:hover {
  border-color: var(--lilas);
  color: var(--lilas);
}

.card p,
.card a .svg-inline--fa {
  padding: 10px 60px;
  font-size: 1em;
}

.title {
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 20px;
}

.title h3 {
  font-weight: 400;
}

#icon-card {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.title .svg-inline--fa {
  font-size: 2em !important;
}

#image-container {
  display: flex;
  height: 600px;
}

.content_image {
  background: url(assets/Img/banner_dois_variacao_I.jpg) no-repeat center/cover;
  width: 50%;
  height: 100%;
  position: relative;
  left: -20px;
}

.content_description {
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: center;
  align-items: flex-start;
  width: 50%;
  padding: 50px;
}

#image-container p,
#image-container h3 {
  font-weight: 400;
  width: 350px;
}

#image-boxes h3,
#image-container h3 {
  font-size: 2em;
}

#image-boxes h3 {
  text-align: center;
  font-weight: 400;
}

#newsletter span,
#image-boxes span,
#image-container span {
  font-size: var(--font-small);
  font-weight: 700;
}

#image-container p {
  font-size: 1em;
}

#image-container p:nth-child(4) {
  font-size: 0.8em;
  border-left: solid 2px var(--amarelo);
  padding-left: 10px;
}

.black-button {
  background-color: var(--preto);
  color: var(--branco);
  padding: 10px 20px;
  transition: 0.5s;
  font-size: var(--font-small);
}

.black-button:hover {
  background-color: var(--lilas);
  color: var(--branco);
}

#image-boxes {
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card-content {
  display: grid;
  grid-gap: 20px;

  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.card-item {
  width: 300px;
  height: 400px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.card-content .card-item:nth-child(1) {
  background-image: url(assets/Img/card_I.jpg);
}
.card-content .card-item:nth-child(2) {
  background-image: url(assets/Img/card_II.jpg);
}
.card-content .card-item:nth-child(3) {
  background-image: url(assets/Img/card_III.jpg);
}
.card-content .card-item:nth-child(4) {
  background-image: url(assets/Img/card_IV.jpg);
}

#newsletter{
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  background-color: var(--branco-escuro);
}

/* Media Queries */
@media (min-width: 1280px) and (max-width: 1440px) {
  #hero h1 {
    width: 45%;
  }
  #hero {
    height: 550px;
  }
}
@media (max-width: 1300px) {
  #image-boxes {
    height: auto;
  }
  .card-content {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 1200px) {
  #hero h1 {
    font-size: 4em;
    width: 70%;
  }
}

@media (max-width: 768px) {
  #icons,
  #header #nav ul {
    display: none;
  }

  #hero {
    height: 100dvh;
    background-position: center;
  }

  #hero h1 {
    font-size: 3em;
    width: 100%;
  }

  .card {
    width: 100%;
  }

  #icon-card {
    height: 600px;
    flex-direction: column;
  }

  #image-container {
    flex-direction: column;
    height: auto;
    gap: 20px;
  }

  .content_image {
    height: 500px;
    width: 100%;
    position: unset;
  }

  .content_description {
    width: 100%;
    padding: 0;
  }

  #image-container p,
  #image-container h3 {
    width: 100%;
  }
  .card-content {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 576px) {
  #hero h1 {
    font-size: 2em;
  }

  #hero div {
    display: flex;
    gap: 5px;
    flex-wrap: wrap;
  }

  #hero {
    background-position: left;
  }

  #icon-card {
    height: auto;
  }

  .content_image {
    background-position: center;
  }
  .card-item {
    width: unset;
  }
  .card-content {
    width: 100%;
  }
}
