@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: "Inter", sans-serif;
  text-decoration: none;
}

:root {
  --branco: #fff;
  --lilas: #bd79ea;
  --preto: #000;
}

section {
  padding: 20px;
}

#header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

#header #nav {
  display: flex;
}
#header #nav ul {
  display: flex;
  align-items: center;
  gap: 15px;
}
#header #nav ul li a {
  color: var(--preto);
}
#header #nav #logo {
  width: 120px;
  margin-right: 10px;
}

#hero {
  background-image: url(assets/Img/banner_principal_variacao_II.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 750px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

#hero h1 {
  font-size: 5em;
  color: var(--branco);
  width: 35%;
}

#icons {
  display: flex;
  gap: 15px;
}

.item-list a:hover {
  color: var(--lilas) !important;
}
.item-list {
  position: relative;
}

.item-list::after {
  content: "";
  width: 0px;
  height: 2px;
  background-color: var(--lilas);
  position: absolute;
  bottom: -3px;
  transition: width 0.3s ease;
  display: block;
}

.item-list:hover::after {
  width: 30px;
}
.discover_button,
.more_about_button {
  font-size: 0.7em;
  font-weight: 700;
  transition: 0.5s;
}
.discover_button {
  background-color: var(--branco);
  padding: 15px;
}
.discover_button:hover {
  background-color: var(--lilas);
  color: var(--branco);
}
.more_about_button {
  border: solid 1px var(--branco);
  padding: 15px;
  color: var(--branco);
  transition: 0.5s;
}
.more_about_button:hover {
  border: solid 1px var(--lilas);
  padding: 15px;
  color: var(--lilas);
}

.card p{
  padding: 10px 60px;
  font-size: 1em;
}
.card a .svg-inline--fa{
  font-size: 2em !important;
  padding: 10px 60px;
}
.title{
  display: flex;
  align-items: center;
  font-size: 1.2em;
  gap: 20px ;
}
.title h3{
  font-weight: 400;
}


#icon-card{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.title .svg-inline--fa{
  font-size: 2em !important;
}











/*Media Queries*/
@media (min-width: 1280px) and (max-width: 1440px) {
  #hero h1 {
    width: 45%;
  }
  #hero {
    height: 550px;
  }
}
@media (max-width: 1200px) {
  #hero h1 {
    font-size: 4em;
    width: 70%;
  }
}

@media (max-width: 768px) {
  #icons,
  #header #nav ul {
    display: none;
  }
  #hero {
    height: 100dvh;
    background-position: center;
  }
  #hero h1 {
    font-size: 3em;
    width: 100%;
  }
  .card{
   width: 100%;
  }
  #icon-card{
    height: 600px;
    flex-direction: column;
  }
}
